.text {
  padding: 20px;
  font-size: 20px;
  color: #737373;
  font-family: Montserrat;

}

.title {
  text-transform: uppercase;
  padding: 20px;
  line-height: 2;
  word-spacing: 4;
  font-size: 30px;
  color: #000000;
  font-family: Montserrat;
}

.meaning {
  padding: 20px;
  line-height: 2;
  word-spacing: 6px;
  font-size: 25px;
  margin: auto 20px;
  columns: #737373;
  font-family: Lato;
  height: 300px;
}

hr {
  display: none;
}

.container {
  margin: 35px 20px;

}
