<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <h1 class="icon-title">
          <img
            src="https://bhagavadgita.io/static/images/radhakrishna.png"
            alt=""
            class="image-title"
          />
        </h1>
        <section class="navigation">
          <a routerLink="/" class="nav-link">
            <clr-icon shape="home"></clr-icon>
            Home
          </a>
          <a routerLink="/" class="nav-link ">
            <clr-icon shape="book"></clr-icon>
            Chapters
          </a>
          <a routerLink="/" class="nav-link quotes">
            <clr-icon shape="block-quote"></clr-icon>
            Quote of the Day
          </a>
        </section>
      </section>
    </nav>
  </div>
</div>
